.agschecklist{
	position: fixed;
	right: 0;
	z-index: 99999;
}

.agschecklist-inner{
	overflow: hidden;
    transition: width 0.3s ease;
}

.ags-row{
	width: 400px;
	margin: 15px;
	padding: 15px;
	background: rgba(35,47,62,0.6);
}

.ags-login h1, .ags-login strong{
	color: #fff;
}

.ags-hide-n-show{
	background: #00183E !important;
	color: #fff !important;
	border: none !important;
	border-radius: 5px;
	font-size: 16px !important;
	font-weight: 900 !important;
	position: relative;
	transform: rotate(270deg);
	left: -100px;
	top: 65px;
	padding: 25px 20px 10px 20px !important;
	z-index: 0;
}
